@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -99999999px;
  opacity: 0;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: #fff;
  overflow-x: hidden;
}

#header {
  width: 100%;
  border-bottom: 3px solid #0b56a7;
  background-color: #fff;
}
#header .nav-wrap {
  width: 100%;
  height: 5.5vh;
  margin: 0 auto;
  position: relative;
  background-color: #efefef;
}
#header .nav-wrap .nav-inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: right;
}
#header .nav-wrap .nav-inner .top .util {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .nav-wrap .nav-inner .top .util li {
  cursor: pointer;
  transition: 0.5s;
}
#header .nav-wrap .nav-inner .top .util li:hover a {
  color: #0b56a7;
  transition: 0.5s;
}
#header .nav-wrap .nav-inner .top .util li a {
  font: 15px/1 "Montserrat";
  color: #555;
  transition: 0.5s;
  padding: 1.2vh 1vw;
}
#header .menu-inner {
  width: 1180px;
  height: 10vh;
  margin: 0 auto;
}
#header .menu-inner .menu-web {
  width: 100%;
  height: 100%;
}
#header .menu-inner .menu-web .container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#header .menu-inner .menu-web .container .logo {
  width: 15vw;
}
#header .menu-inner .menu-web .container .logo h1 img {
  width: 90%;
  padding-top: 3px;
}
#header .menu-inner .menu-web .container .main_menu {
  width: 75vw;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: visible;
}
#header .menu-inner .menu-web .container .main_menu > li {
  position: relative;
  transition: all 0.5s;
}
#header .menu-inner .menu-web .container .main_menu > li > a {
  font: bold 20px/40px "나눔 고딕";
  color: #333;
  padding: 2.5vh 1.5vw;
}
#header .menu-inner .menu-web .container .main_menu > li > a:hover {
  color: #0b56a7;
  transition: all 0.3s;
}
#header .menu-inner .menu-web .container .main_menu > li > a.has-sub::before, #header .menu-inner .menu-web .container .main_menu > li > a.has-sub::after {
  content: "";
  width: 10px;
  height: 2px;
  display: block;
  background: #0b56a7;
  position: absolute;
  top: 17px;
  right: 8px;
  transition: transform 0.3s;
}
#header .menu-inner .menu-web .container .main_menu > li > a.has-sub::before {
  margin-right: -3px;
  transform: rotate(45deg);
}
#header .menu-inner .menu-web .container .main_menu > li > a.has-sub::after {
  margin-right: 3px;
  transform: rotate(-45deg);
}
#header .menu-inner .menu-web .container .main_menu > li > a.has-sub:hover::before {
  transform: rotate(-45deg);
}
#header .menu-inner .menu-web .container .main_menu > li > a.has-sub:hover::after {
  transform: rotate(45deg);
}
#header .menu-inner .menu-web .container .main_menu > li .sub_menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 6vh;
  text-align: center;
  background-color: #fff;
  border-bottom: 2px solid #0b56a7;
}
#header .menu-inner .menu-web .container .main_menu > li .sub_menu > li {
  padding: 10px 5px 10px 5px;
}
#header .menu-inner .menu-web .container .main_menu > li .sub_menu > li > a {
  display: block;
  padding: 5px;
  color: #333;
  transition: all 0.3s;
  font-weight: bold;
}
#header .menu-inner .menu-web .container .main_menu > li .sub_menu > li > a:hover {
  color: #0b56a7;
  transition: all 0.3s;
}
#header .menu-inner .menu-web .container .main_menu > li:hover .sub-menu {
  opacity: 1;
}
#header .menu-inner .menu-web .container .main_menu_right {
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#header .menu-inner .menu-web .container .main_menu_right .glass a i {
  color: #0b56a7;
}
#header .menu-inner .menu-web .container .main_menu_right .bars a i {
  color: #333;
}

#keyframe > li .sub_menu {
  display: none;
  transform-origin: top center;
  animation: menuAni 0.7s;
}
#keyframe > li:hover .sub_menu {
  display: block;
}

@keyframes menuAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#visual {
  width: 100%;
  height: 60vh;
  background-color: lightgoldenrodyellow;
}
#visual p {
  font: bold 20px/60vh "맑은 고딕";
  color: #333;
  text-align: center;
}

#banner {
  width: 100%;
  height: 50vh;
  background-color: lightblue;
}
#banner .banner_inner {
  width: 1180px;
  height: 100%;
  background-color: lightgreen;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
#banner .banner_inner .news {
  width: 27vw;
  height: 100%;
  background-color: rgb(237, 187, 87);
}
#banner .banner_inner .news p {
  font: bold 20px/40vh "맑은 고딕";
  color: #fff;
  text-align: center;
}
#banner .banner_inner .notice {
  width: 27vw;
  height: 100%;
  background-color: rgb(83, 83, 187);
}
#banner .banner_inner .notice p {
  font: bold 20px/40vh "맑은 고딕";
  color: #fff;
  text-align: center;
}

#fixed_banner {
  width: 100%;
  padding: 150px 0;
  background: url(../img/fixed_banner.jpg) no-repeat center/cover fixed;
  opacity: 0.8;
}
#fixed_banner .fixed_banner_inner {
  width: 1180px;
  margin: 0 auto;
}
#fixed_banner .fixed_banner_inner h1 {
  font: bold 30px/1 "arial";
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
#fixed_banner .fixed_banner_inner p {
  font: 16px/1.3 "arial";
  color: #bbb;
  text-align: center;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: #efefef;
  position: relative;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 24px/1 "Montserrat";
  color: #333;
  float: left;
}
#footer .inner ul {
  float: right;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: 14px/1 "Montserrat";
  color: #333;
  transition: 0.5s;
}
#footer .inner ul li a:hover {
  color: #0b56a7;
  transition: 0.5s;
}
#footer .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "Montserrat";
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #0b56a7;
}
#footer .inner p {
  float: left;
  width: 100%;
  font: 13px/1 "Montserrat";
  color: #333;
}

/*# sourceMappingURL=style.css.map */
