fieldset {
	border: none;
}

table {
	border-collapse: collapse;
	float: left;
}

.h {
	position: absolute;
	top: -9999px;
	opacity: 0;
}

.content {
	width: 100%;

	.join_04_proc_bar {
		width: 1180px;
		//border: 1px solid red;
		margin: 50px auto;
		display: flex;
		justify-content: space-between;
		position: relative;
		text-align: center;

		span {
			font: bold 15px/50px "맑은 고딕";
			text-align: center;
		}

		.proc_bar_01 {
			background: #efefef;
			display: inline-block;
			height: 50px;
			position: relative;
			width: 23%;
			box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.5);
			color: #333;

			&::before {
				border-bottom: 25px solid transparent;
				border-left: 25px solid #efefef;
				border-right: 25px solid transparent;
				border-top: 25px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				top: 0;
				right: -50px;
			}
		}

		.proc_bar_02 {
			width: 23%;
			height: 50px;
			box-sizing: content-box;
			position: relative;
			left: 0px;
			background: #efefef;
			box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.5);
			color: #333;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 0;
				border-top: 25px solid transparent;
				border-bottom: 25px solid transparent;
				border-left: 25px solid #fff;
				border-right: 25px solid transparent;
			}

			&::before {
				border-bottom: 25px solid transparent;
				border-left: 25px solid #efefef;
				border-right: 25px solid transparent;
				border-top: 25px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				top: 0;
				right: -50px;
			}
		}

		.proc_bar_03 {
			width: 23%;
			height: 50px;
			box-sizing: content-box;
			position: relative;
			left: 0px;
			background: #2d3047;
			box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.5);
			color: #fff;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 0;
				border-top: 25px solid transparent;
				border-bottom: 25px solid transparent;
				border-left: 25px solid #fff;
				border-right: 25px solid transparent;
			}

			&::before {
				border-bottom: 25px solid transparent;
				border-left: 25px solid #2d3047;
				border-right: 25px solid transparent;
				border-top: 25px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				top: 0;
				right: -50px;
			}
		}

		.proc_bar_04 {
			width: 23%;
			height: 50px;
			box-sizing: content-box;
			position: relative;
			right: 0px;
			background: #efefef;
			box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.5);
			color: #333;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 0;
				border-top: 25px solid transparent;
				border-bottom: 25px solid transparent;
				border-left: 25px solid #fff;
				border-right: 25px solid transparent;
			}
		}
	}

	.join_04_sub_visual {
		width: 100%;
		height: 200px;
		margin-bottom: 30px;

		.join_04_sub_visual_txt {
			border: 1px solid red;
			text-align: center;
			font: bold 16px/1 "맑은 고딕";
			color: #333;
			width: 1180px;
			height: 0px;
			margin: 0 auto;
			padding: 50px;
			box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
			display: flex;
			justify-content: space-around;
			align-items: center;
		}

		/* 단계별 상태 스타일 */
		.step-box {
			width: 1180px;
			margin: 0 auto;
			//border: 1px solid #ddd;
			background: #fff;
		}

		.step-state {
			padding: 10px 0 15px;
			//margin-top: 15px;
			width: 100%;
			margin: 0 auto;
			//border: 1px solid orange;
		}

		.step-state ul:after {
			content: "";
			display: block;
			clear: both;
		}

		.step-state ul li {
			float: left;
			position: relative;
			width: 25%; /* 5개 진행바를 5등분 */
			padding-top: 65px;
			font: bold 14px/12px "맑은 고딕";
			text-align: center;
			color: #333;
			//border: 1px solid green;
		}

		/* 회색 진행바 생성 */
		.step-state ul li:before {
			position: absolute;
			top: 35px;
			left: 0;
			right: 0;
			height: 3px;
			background: #ddd;
			content: "";
		}

		/* 화살표 상태 아이콘 */
		.step-state ul li:after {
			position: absolute;
			top: 28px;
			left: 50%;
			width: 15px;
			height: 15px;
			margin-left: -5px;
			background-color: orange;
			content: "";
		}

		.step-state ul li:nth-child(1)::after,
		.step-state ul li:nth-child(3)::after,
		.step-state ul li:nth-child(4):after {
			background-color: #ddd;
		}

		.step-state.step1 ul li:nth-child(2):before {
			background: orange;
		}
	}

	.join_04 {
		width: 1180px;
		margin: 0 auto;
		//border: 1px solid salmon;
		margin-bottom: 30px;

		.join_04_inner {
			width: 1180px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;

			.join_04_inner_txt {
				text-align: left;
				margin-bottom: 10px;

				span {
					font: bold 20px/1 "맑은 고딕";
					color: #2d3047;
					text-align: left;
				}
			}

			.join_company_info {
				width: 100%;
				height: 600px;
				border-top: 2px solid #2d3047;
				background-color: #f0f3f4;
				margin: 0 auto;
				padding: 20px 0;
				margin-bottom: 50px;

				/* form container */
				.form-container {
					padding: 0 20px;
					border-radius: 5px;
					margin: 0 auto;
					//background-color: violet;
					//border: 2px solid red;
					width: 100%;
					height: 100%;

					form {
						width: 100%;
						height: 100%;
						//background-color: blue;
						margin: 0 auto;
						//border: 2px solid blue;
						display: flex;
						justify-content: center;

						table {
							margin: 0 auto;
							//width: 100%;
							//height: 100%;
							//border: 2px solid violet;

							tr {
								//background-color: greenyellow;
								//border: 2px solid lightgrey;
								width: 100%;

								td {
									//border: 2px solid yellow;
									//width: 100%;

									.form-label {
										font: bold 15px/1 "맑은 고딕";
										color: #333;
										margin-right: 30px;
										//border: 1px solid red;
									}

									.form-input {
										width: 350px;
										padding: 10px;
										border-radius: 5px;
										border: 2px solid #ddd;
									}

									.sel_email {
										width: 150px;
									}

									.search {
										width: 100px;
										height: 35px;
										font: bold 13px/1 "맑은 고딕";
										color: #fff;
										background-color: #363a54;
										border: none;
										border-radius: 5px;
										margin-left: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.button {
		//border: 1px solid red;
		display: flex;
		justify-content: center;
		margin-bottom: 80px;

		button {
			width: 150px;
			height: 50px;
			font: bold 14px/1 "맑은 고딕";
			color: #fff;
			background-color: #3b4860;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.submit {
			margin-right: 30px;
		}
	}
}
